<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{template}">

<head>
    <title>사전 업로드</title>
</head>

<body>
<section layout:fragment="content">

    <div class="cont_wrap">
        <div class="cont_area log">
            <div class="cont_tit clearfix">
                <h2>사전 업로드</h2>
                <ul class="location">
                    <li><i class="fas fa-home"></i><span>&gt;</span></li>
                    <li>사전</li>
                    <li><span>&gt;</span><strong>사전 업로드</strong></li>
                </ul>
            </div>
            <div class="cont_box m0">
                <h3 th:text="|[${dictionary.getLabel()}][${dictionary.dictionaryName}]|"></h3>
                <div class="container">
                    <div class="cont1 clearfix">
                        <!--div class="ml15">
                            <input class="align_c w170" id="dict_name" th:value="|${dictionary.name}|"
                                   readonly
                                   th:title="|사전명:${dictionary.name}&#13;사전 설명:${dictionary.desc}&#13;엔트리 수:${dictionary.countEntries}|">
                        </div-->

                        <div class="fR file_input">
                            <span id="upload-progress"></span>
                            <form name="file-upload-form" th:onsubmit="|return uploadFile(${dictionary.dictionaryId}, this);|"
                                  th:data-max-file-size="${maxFileSize}">
                                <input type="text" class="w300" readonly id="file_route"
                                       placeholder="선택된 파일 없음">

                                <label class="w98"><i class="fas fa-file mr5"></i>파일 선택
                                    <input type="file" class="btn btn_sky " name="file" required
                                           accept=".txt, .csv"
                                           onchange="javascript:document.getElementById('file_route').value=this.files.item(0)!=null?this.files.item(0).name:'선택된 파일 없음'">
                                </label>

                                <label class="w98"><i class="fas fa-file mr5"></i>추가
                                    <input type="submit" class="btn btn_sky">
                                </label>
                            </form>
                        </div>
                    </div>
                    <!--사전 업로드 Table-->
                    <table class="basic_tbl_type mt20">
                        <colgroup>
                            <col width="8%;">
                            <col width="8%;">
                            <col width="9%;">
                            <col width="7%;">
                            <col width="7%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>NO.</th>
                            <th>파일명</th>
                            <th>크기</th>
                            <th>상태</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:if="${#lists.isEmpty(stagingFiles)}">
                            <td colspan="5">업로드할 파일을 추가해주세요</td>
                        </tr>
                        <!--/* 스테이징 파일 리스트 출력. */-->
                        <tr th:each="file,iterStat: ${stagingFiles}" th:id="${file.filename}">
                            <td th:text="${iterStat.count}"></td>
                            <td class="uploadFileName" th:text="${file.filename}" th:title="${file.absolutePath}"></td>
                            <td class="uploadFileSize" th:text="${file.filesize}">0</td>
                            <td class="uploadState">준비</td>
                            <td><a><i class="fas fa-trash"
                                      th:data-file-name="${file.filename}"
                                      th:onclick="|deleteFile(${dictionary.dictionaryId}, this.dataset.fileName)|"></i></a></td>
                        </tr>
                        <!--/* 스테이징 파일 리스트 출력 end */-->

                        <!--/* 업로드 파일 히스토리 리스트 출력 */-->
                        <tr th:each="history, iterStat: ${importHistory}" class="disable">
                            <td th:text="${iterStat.size - iterStat.index}"></td>
                            <td class="historyFileName" th:text="${history.fileName}"></td>
                            <td class="historyFileSize" th:text="${history.fileSize}">알수없음</td>
                            <td class="uploadCount">
                                <span th:text="|${history.getLabel()}(${history.validCount}/${history.totalCount})|"></span>
                                <a><i th:if='${history.getProgress() != "SUCCESS"}'
                                      class="fa-exclamation-circle fas ml5" style="color: red"
                                      th:onclick="|historyDictionaryPopup(${history.importId}, this.dataset)|" title="업로드 오류 로그 보기"
                                      th:data-resourceId="${history.resourceId}"
                                      th:data-fileName="${history.fileName}"></i></a>
                            </td>
                            <td></td>
                        </tr>
                        <!--/* 업로드 파일 히스토리 리스트 출력 end */-->
                        </tbody>
                    </table>
                    <!--사전 업로드 Table end-->

                    <!--사전 업로드 오류처리 영역-->
                    <div class="cont_box m0">
                        <div class="cont1 clearfix">
                            <div class="fL">
                                <label for="err-boxline" class="ml15" style="font-size: inherit;">오류 문서 처리
                                    <i class="fa-question-circle fas ml10"
                                       title="오류 문서 처리는 문서 업로드 시&#10;에 오류가 발생할 경우 처리 방법&#10;에 대한 선택사항 입니다."></i></label>
                                <div style="display:inline; text:center; width: 85%" id="err-boxline" class="p5">
									<span class="ml400">
										<input type="radio" id="err_skip" value="SKIP" name="errorHandle" style="font-size: inherit;">
										<label class="ml10" for="err_skip" title="업로드 할 수 없는 엔트리는 건너뛰고 진행합니다.">오류 건너뛰기</label>
										<input type="radio" id="file_uploadStop" value="STOP" name="errorHandle" class="ml100" style=" font-size: inherit;" checked>
                                        <label class="ml10" for="file_uploadStop" title="오류가 발생할 경우 해당 파일은 업로드를 중지 합니다.">파일 업로드 중지</label>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix cont1 mt10">
                        <div class="fR">
                            <button type="button" id="button-upload" class="btn btn_mint w100"
                                    th:onclick="|importFiles(${dictionary.dictionaryId});|"><i class="fas fa-file-upload mr5"></i>업로드
                            </button>
                        </div>
                    </div>
                    <!--사전 업로드 오류처리 영역 end-->
                </div>
                <!-- container end-->
            </div>
            <!-- cont_box end -->
        </div>
        <!-- cont_area end-->
    </div>
    <!-- cont_wrap End-->
    <div id="result_pop" class="marks_overlay pop_sum_plus" style="display:none;">
        <div class="bg"></div>
        <div class="pop_box medium">
            <!-- 오류 화면 팝업 top-->
            <div class="top clearfix">
                <h3 class="fL">엔트리 업로드 오류</h3>
                <a href="#" class="close_result close fR">
                    <i class="fas fa-times" onclick="document.getElementById('result_pop').style.display='none'"></i>
                </a>
            </div>
            <!-- 오류 화면 팝업 top end-->

            <!-- 오류 화면 팝업 내용 top-->
            <div class="pop_container" style="height:460px">
                <div class="cont_box m0">
                    <div class="cont1 clearfix">
                        <div class="mb20 fL">
                            <label id="result-title" class="ml10 " style="width:auto; font-size: 20px; vertical-align: bottom;"></label>
                        </div>
                        <div class="mb20 fR">
                            <button id="result-download" type="button" class="btn btn_sky w98 ml15"
                                    title="사전 업로드 결과 로그 파일(txt) 다운로드"><i class="fas fa-file-download mr5"></i> 다운로드
                            </button>
                        </div>
                        <div class="">
                            <table class="basic_tbl_type result-data" id="result-data">
                                <colgroup>
                                    <col width="16%;">
                                    <col width="*;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Log.</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                            <div class="page_btn_num clear_both" id="resultPagination">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 결과 화면  내용 end-->
            <!-- 결과 화면  팝업 footer-->
            <div class="pop_bottom align_c">

            </div>
            <!-- 결과 화면  팝업 footer end-->
        </div>
    </div>

    <script type="text/javascript" th:src ="@{/mng/uploadPollingStatus.js}"></script>
    <script type="text/javascript" th:src ="@{/mng/dictionary/upload.js}"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            // fileSize byte 단위 표기
            $('td.uploadFileSize').each((idx, tdElement) => {
                let size = tdElement.innerText;
                try {
                    tdElement.setAttribute('title', size);
                    tdElement.innerText = get_file_size(size);
                } catch (e) {
                    console.error(`Failed to convert file size expression. ${size}`);
                    console.debug(e);
                }
            });
            $('td.historyFileSize').each((idx, tdElement) => {
                let size = tdElement.innerText;
                try {
                    tdElement.setAttribute('title', size);
                    tdElement.innerText = get_file_size(size);
                } catch (e) {
                    console.error(`Failed to convert file size expression. ${size}`);
                    console.debug(e);
                }
            });
        });
    </script>

</section>
</body>

</html>